.venv
.git
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
sources.list
Dockerfile
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
Makefile
.vscode
requirements.txt

package.json
openvino/model/*
onnx/*/*.onnx
onnx/Pipfile
onnx/Pipfile.lock
onnx/server.spec
onnx/build
onnx/dist
openvino/utils/*.onnx
.env
.idea/
cuda/models
__pycache__
.venv
.cache
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
models